@import './Variables';

/* PAGINA ADMINISTRADOR */

main{
    .contenedor-administrador{
        background-image: url("https://drive.google.com/uc?id=1ih2XCoh8OCSpe2-8lMaHuEw9tQBsSRBs");
        height: 100vh;
        background-size: cover;
        color: map-get($colores, blanco);
        font-family: $ff;
        @include centrar;
        .contenedor-principal{
            height: 100vh;
            width: 100vw;
            background-color: map-get($colores, bcBio);
            @include centrar;
            .contenedor-consultas{
                display: flex;
                height: 75vh;
                margin-top: 10vh;
                width: 90vw;
                border: 1px solid map-get($colores, gris);
                border-radius: 30px;
                .seleccionar-consulta{
                    width: 30vw;
                    height: 71vh;
                    overflow: auto;
                    margin: 2vh 2vw;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: column;
                    &::-webkit-scrollbar {
                        background-color: transparent;
                        width: 8px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: transparent;
                        border: 1px solid map-get($colores, gris);
                        border-radius: 15px;
                    }
                    .contenedor-consulta-individual{
                        width: 25vw;
                        border-bottom: 1px solid map-get($colores, gris);
                        .consulta-individual{
                            padding: 3vh;
                            padding-left: 4vw;
                            &:hover{
                                cursor: pointer;
                                font-size: 1.05rem;
                            }
                            .p-asunto{
                                font-weight: 200;
                            }
                        }
                    }
                }
                .mostrar-consulta{
                    width: 60vw;
                    height: 75vh;
                    padding: 5vh 5vw;
                    border-left: 1px solid map-get($colores, gris); 
                    .msj-encabezado{
                        border-bottom: 1px solid map-get($colores, gris); 
                        padding: 0 3vw 2vh 3vw;
                    }
                    .msj-cuerpo{
                        padding: 2vh 3vw 0 3vw;
                        .p-asunto{
                            border-bottom: 1px solid map-get($colores, gris);
                            padding-bottom: 2vh;
                        }
                        .p-mensaje{
                            padding-top: 2vh;
                        }
                    }
                }
            }
        }
    }
}