@import './Variables';

/* CONTACTO */

main{
    .contenedor-formulario-fondo{
        background-image: url('../../../public/assets/img/fondo-contacto.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 85vh;
        .contenedor-formulario{
            height: 85vh;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 15vh;
            .fondo-formulario{
                width: 45vw;
                background-color: map-get($colores, bcBio);
                border-radius: 35px;
                @include centrar;
                font-family: $ff;
                text-align: center;
                /* @include animacion(fadeIn, 3s); */
                h2{
                    @include titulo;
                    padding: 20px 0px;
                }
                label{
                    color: map-get($colores, gris);;
                    font-family: $ff;
                    display: block;
                    padding-bottom: 5px;
                    font-size: 1.1rem;
                }
                .input{
                    width: 80%;
                    padding: 3px;
                    margin-bottom: 10px;
                    background: transparent;
                    border-radius: 5px;
                    border: 1px solid map-get($colores, gris);
                    color: map-get($colores, blanco);
                    font-size: 1rem;
                    font-family: $ff;
                }
                input::-webkit-inner-spin-button,
                input::-webkit-outer-spin-button{
                    -webkit-appearance:none;
                }
                input[type="number"]{
                -moz-appearance:textfield;
                }
                .contacto-form{
                    padding-bottom: 10px;
                    .contacto{
                        display: inline-block;
                        padding: 0 8px;
                    }
                }
                .input-error-email{
                    color: map-get($colores, blanco);
                    margin-bottom: 10px;
                }
                textarea{
                    font-family: $ff;
                    font-size: 1rem;
                    height: 20vh;
                    resize: none;
                }
                .boton-enviar{
                    text-align: center;
                }
                .enviar{
                    padding: 9px;
                    text-align: center;
                    width: 60%;
                    background: transparent;
                    color: map-get($colores, gris);
                    border: 1px solid map-get($colores, gris);
                    border-radius: 5px;
                    margin-bottom: 3vh;
                    &:hover{
                        background: rgba(134, 134, 134, 0.7);
                        cursor: pointer;
                        color: map-get($colores, blanco);
                        border: 1px solid map-get($colores, blanco);
                    }
                }
                
            }
            .contacto-popup{
                position: fixed;
                padding: 5px;
                height: 10vh;
                width: 20vw;
                bottom: 17vh;
                right: 7vw;
                background-color: map-get($colores, bcBio);
                border: 1px solid map-get($colores, gris);
                border-radius: 30px;
                @include centrar;
                font-family: $ff;
                font-size: 1.2rem;
                font-weight: 300;
                text-align: center;
                color: map-get($colores, blanco);
            }
            .fondo-cartel{
                width: 45vw;
                height: 60vh;
                background-color: map-get($colores, bcBio);
                border-radius: 35px;
                @include centrar;
                flex-direction: column;
                text-align: center;
                h3{
                    width: 20vw;
                    font-family: $ff;
                    color: map-get($colores, blanco);
                    font-size: 1.3rem;
                    font-weight: 400;
                }
                a{
                    text-decoration: none;
                }
                .boton{
                    color: map-get($colores, blanco);
                    text-decoration: none;
                    padding: 10px 15px;
                    border: 1px solid map-get($colores, blanco);
                    border-radius: 5px;
                    font-size: 1.1em;
                    font-family: $ff;
                    margin-top: 4vh;
                    &:hover{
                        background: map-get($colores, gris);
            
                    }
                }
            }
        }
    }

}