@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
/* @mixin animacion ($ani:fadeIn, $aniD:1s){
    animation: $ani;
    animation-duration: $aniD;
}
@mixin animacion2{
    animation: fadeInUp;
    animation-duration: 2s;
} */
.titulo, main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario h2, main .contenedor-discos-fondo .contenedor-discos h2, main .contenedor-bio-fondo .contenedor-bio .titulo-bio, main .contenedor-integrantes-fondo .contenedor-integrantes .titulo-integrantes, main .contenedor-videos .titulo-videos {
  color: #fff;
  font-size: 1.8em;
  font-weight: 500;
  /* @include animacion2; */
  font-family: "oswald", sans-serif;
  text-align: center;
}

/* NAVBAR */
header {
  position: fixed;
  width: 100vw;
  font-family: "oswald", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
}
header .contenedor-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.25);
}
header .contenedor-menu .contenedor-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .contenedor-menu .contenedor-logo img {
  padding-right: 10vw;
  height: 45px;
}
header .contenedor-menu .contenedor-logo img:hover {
  cursor: pointer;
  /* @include animacion(pulse, 2s); */
}
header .contenedor-menu .contenedor-nav {
  list-style-type: none;
  grid-area: menu;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 10vw;
}
header .contenedor-menu .contenedor-nav a {
  padding-left: 30px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
header .contenedor-menu .contenedor-nav a:hover {
  color: rgb(134, 134, 134);
}
header .contenedor-menu .imagen-usuario {
  position: relative;
  left: 7vw;
  top: 3px;
}

/* VARIABLES */
/* @mixin animacion ($ani:fadeIn, $aniD:1s){
    animation: $ani;
    animation-duration: $aniD;
}
@mixin animacion2{
    animation: fadeInUp;
    animation-duration: 2s;
} */
.titulo, main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario h2, main .contenedor-discos-fondo .contenedor-discos h2, main .contenedor-bio-fondo .contenedor-bio .titulo-bio, main .contenedor-integrantes-fondo .contenedor-integrantes .titulo-integrantes, main .contenedor-videos .titulo-videos {
  color: #fff;
  font-size: 1.8em;
  font-weight: 500;
  /* @include animacion2; */
  font-family: "oswald", sans-serif;
  text-align: center;
}

/* INICIO */
main .imagen-fondo-inicio {
  background-image: url("https://drive.google.com/uc?id=1ih2XCoh8OCSpe2-8lMaHuEw9tQBsSRBs");
  height: 100vh;
  background-size: cover;
}
main .contenedor-videos {
  height: 100vh;
  background: rgb(15, 15, 15);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: ". . . . . . . . ." ". . . titulo titulo titulo . . ." ". video video video video parrafo parrafo parrafo ." ". video video video video parrafo parrafo parrafo ." ". video video video video parrafo parrafo parrafo ." ". . . . . . . . .";
}
main .contenedor-videos .titulo-videos {
  grid-area: titulo;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .contenedor-videos .video {
  grid-area: video;
}
main .contenedor-videos .video iframe {
  margin-top: 2vh;
  width: 40vw;
  height: 45vh;
  border: 0px;
}
main .contenedor-videos .contenedor-parrafo {
  grid-area: parrafo;
  text-align: center;
  padding: 22% 0px 4vh 2vw;
  font-family: "oswald", sans-serif;
  font-weight: 300;
  /* @include animacion; */
}
main .contenedor-videos .contenedor-parrafo p {
  width: 30vw;
  padding-bottom: 4vw;
  color: rgb(255, 255, 255);
  font-size: 1.25em;
  font-weight: 300;
}
main .contenedor-videos .contenedor-parrafo a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 1.1em;
}
main .contenedor-videos .contenedor-parrafo a:hover {
  background: rgb(134, 134, 134);
}
main .contenedor-integrantes-fondo {
  background-image: url("https://drive.google.com/uc?id=1GzMi1ACzBTARh3ouH7l8m1yppv6GxaD2");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .contenedor-integrantes-fondo .contenedor-integrantes {
  display: grid;
  grid-template-columns: 30vw 30vw;
  grid-template-rows: 10vh 40vh;
  grid-template-areas: "titulo titulo" "integrantes instrumentos";
  background-color: rgba(0, 0, 0, 0.6);
  height: 80vh;
  padding-top: 8vh;
  margin-top: 7vh;
  border-radius: 15px;
}
main .contenedor-integrantes-fondo .contenedor-integrantes .titulo-integrantes {
  grid-area: titulo;
  padding-top: 3vh;
}
main .contenedor-integrantes-fondo .contenedor-integrantes p {
  color: rgb(255, 255, 255);
  font-size: 1.25em;
  font-weight: 300;
  line-height: 2;
  padding-top: 2vh;
  /* @include animacion2; */
}
main .contenedor-integrantes-fondo .contenedor-integrantes .nombres-integrantes {
  grid-area: integrantes;
  text-align: right;
  padding-right: 2vw;
}
main .contenedor-integrantes-fondo .contenedor-integrantes .instrumentos-integrantes {
  grid-area: instrumentos;
  padding-left: 2vw;
}

/* VARIABLES */
/* @mixin animacion ($ani:fadeIn, $aniD:1s){
    animation: $ani;
    animation-duration: $aniD;
}
@mixin animacion2{
    animation: fadeInUp;
    animation-duration: 2s;
} */
.titulo, main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario h2, main .contenedor-discos-fondo .contenedor-discos h2, main .contenedor-bio-fondo .contenedor-bio .titulo-bio, main .contenedor-videos .titulo-videos, main .contenedor-integrantes-fondo .contenedor-integrantes .titulo-integrantes {
  color: #fff;
  font-size: 1.8em;
  font-weight: 500;
  /* @include animacion2; */
  font-family: "oswald", sans-serif;
  text-align: center;
}

/* BIO */
main .contenedor-bio-fondo {
  padding: 15vh 10vw;
  background-image: url("https://drive.google.com/uc?id=1K3UB8ewauYyJe8t98XfpWTqKf5i1s2qu");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "oswald", sans-serif;
}
main .contenedor-bio-fondo .contenedor-bio {
  padding: 7vh 5vw;
  background-color: rgba(0, 0, 0, 0.76);
  border-radius: 35px;
}
main .contenedor-bio-fondo .contenedor-bio .titulo-bio {
  padding-bottom: 60px;
}
main .contenedor-bio-fondo .contenedor-bio .texto-bio {
  padding-bottom: 5vh;
}
main .contenedor-bio-fondo .contenedor-bio .texto-bio h4 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.25em;
  padding-bottom: 15px;
  /* @include animacion2; */
}
main .contenedor-bio-fondo .contenedor-bio .texto-bio p {
  color: rgb(255, 255, 255);
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-size: 1.15em;
  padding-bottom: 20px;
  /* @include animacion2; */
}

/* VARIABLES */
/* @mixin animacion ($ani:fadeIn, $aniD:1s){
    animation: $ani;
    animation-duration: $aniD;
}
@mixin animacion2{
    animation: fadeInUp;
    animation-duration: 2s;
} */
.titulo, main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario h2, main .contenedor-discos-fondo .contenedor-discos h2, main .contenedor-videos .titulo-videos, main .contenedor-integrantes-fondo .contenedor-integrantes .titulo-integrantes, main .contenedor-bio-fondo .contenedor-bio .titulo-bio {
  color: #fff;
  font-size: 1.8em;
  font-weight: 500;
  /* @include animacion2; */
  font-family: "oswald", sans-serif;
  text-align: center;
}

/* DISCOS */
main .contenedor-discos-fondo {
  /* height: 290vh; */
  background-color: rgb(30, 30, 30);
}
main .contenedor-discos-fondo .contenedor-discos {
  padding: 17vh 17vw 7vh 17vw;
}
main .contenedor-discos-fondo .contenedor-discos .contenedor-iframe-letras {
  display: block;
}
main .contenedor-discos-fondo .contenedor-discos .contenedor-iframe-letras iframe {
  width: 65vw;
  height: 73vh;
  border: 0;
}
main .contenedor-discos-fondo .contenedor-discos .contenedor-iframe-letras .contenedor-letras {
  text-align: center;
  padding-top: 3vh;
  list-style: none;
  /* a{
      @include animacion(fadeInUpBig, 3s);
  } */
}
main .contenedor-discos-fondo .contenedor-discos .contenedor-iframe-letras .contenedor-letras li {
  margin-top: 10px;
}
main .contenedor-discos-fondo .contenedor-discos .contenedor-iframe-letras .contenedor-letras a {
  text-decoration: none;
}
main .contenedor-discos-fondo .contenedor-discos .contenedor-iframe-letras .contenedor-letras .formato-p:hover {
  color: rgb(134, 134, 134);
}
main .contenedor-discos-fondo .contenedor-discos .disco-2 {
  padding-top: 7vh;
}
main .contenedor-discos-fondo .contenedor-discos h2 {
  padding: 4vh 0px;
}
main .contenedor-discos-fondo .contenedor-discos .formato-p {
  color: rgb(255, 255, 255);
  font-size: 1.25em;
  font-weight: 200;
  font-family: "Barlow", sans-serif;
}
main .contenedor-discos-fondo .contenedor-discos .descripcion {
  padding-bottom: 4vh;
  text-align: center;
  /* @include animacion(fadeInUp, 3s); */
}

/* VARIABLES */
/* @mixin animacion ($ani:fadeIn, $aniD:1s){
    animation: $ani;
    animation-duration: $aniD;
}
@mixin animacion2{
    animation: fadeInUp;
    animation-duration: 2s;
} */
.titulo, main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario h2, main .contenedor-videos .titulo-videos, main .contenedor-integrantes-fondo .contenedor-integrantes .titulo-integrantes, main .contenedor-bio-fondo .contenedor-bio .titulo-bio, main .contenedor-discos-fondo .contenedor-discos h2 {
  color: #fff;
  font-size: 1.8em;
  font-weight: 500;
  /* @include animacion2; */
  font-family: "oswald", sans-serif;
  text-align: center;
}

/* CONTACTO */
main .contenedor-formulario-fondo {
  background-image: url("https://drive.google.com/uc?id=1v_NPEiEXbBzbJIEgY4jJowHCa2N9H75H");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
main .contenedor-formulario-fondo .contenedor-formulario {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
}
main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario {
  width: 45vw;
  background-color: rgba(0, 0, 0, 0.76);
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "oswald", sans-serif;
  text-align: center;
  /* @include animacion(fadeIn, 3s); */
}
main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario h2 {
  padding: 20px 0px;
}
main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario label {
  color: rgb(134, 134, 134);
  font-family: "oswald", sans-serif;
  display: block;
  padding-bottom: 5px;
  font-size: 1.1rem;
}
main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario .input {
  width: 80%;
  padding: 3px;
  margin-bottom: 10px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid rgb(134, 134, 134);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-family: "oswald", sans-serif;
}
main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario input::-webkit-inner-spin-button,
main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario input[type=number] {
  -moz-appearance: textfield;
}
main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario .contacto-form {
  padding-bottom: 10px;
}
main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario .contacto-form .contacto {
  display: inline-block;
  padding: 0 8px;
}
main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario .input-error-email {
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}
main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario textarea {
  font-family: "oswald", sans-serif;
  font-size: 1rem;
  height: 20vh;
  resize: none;
}
main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario .boton-enviar {
  text-align: center;
}
main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario .enviar {
  padding: 9px;
  text-align: center;
  width: 60%;
  background: transparent;
  color: rgb(134, 134, 134);
  border: 1px solid rgb(134, 134, 134);
  border-radius: 5px;
  margin-bottom: 3vh;
}
main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario .enviar:hover {
  background: rgba(134, 134, 134, 0.7);
  cursor: pointer;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}
main .contenedor-formulario-fondo .contenedor-formulario .contacto-popup {
  position: fixed;
  padding: 5px;
  height: 10vh;
  width: 20vw;
  bottom: 17vh;
  right: 7vw;
  background-color: rgba(0, 0, 0, 0.76);
  border: 1px solid rgb(134, 134, 134);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "oswald", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  color: rgb(255, 255, 255);
}
main .contenedor-formulario-fondo .contenedor-formulario .fondo-cartel {
  width: 45vw;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.76);
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
main .contenedor-formulario-fondo .contenedor-formulario .fondo-cartel h3 {
  width: 20vw;
  font-family: "oswald", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-weight: 400;
}
main .contenedor-formulario-fondo .contenedor-formulario .fondo-cartel a {
  text-decoration: none;
}
main .contenedor-formulario-fondo .contenedor-formulario .fondo-cartel .boton {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 1.1em;
  font-family: "oswald", sans-serif;
  margin-top: 4vh;
}
main .contenedor-formulario-fondo .contenedor-formulario .fondo-cartel .boton:hover {
  background: rgb(134, 134, 134);
}

/* VARIABLES */
/* @mixin animacion ($ani:fadeIn, $aniD:1s){
    animation: $ani;
    animation-duration: $aniD;
}
@mixin animacion2{
    animation: fadeInUp;
    animation-duration: 2s;
} */
.titulo, main .contenedor-videos .titulo-videos, main .contenedor-integrantes-fondo .contenedor-integrantes .titulo-integrantes, main .contenedor-bio-fondo .contenedor-bio .titulo-bio, main .contenedor-discos-fondo .contenedor-discos h2, main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario h2 {
  color: #fff;
  font-size: 1.8em;
  font-weight: 500;
  /* @include animacion2; */
  font-family: "oswald", sans-serif;
  text-align: center;
}

main .imagen-fondo-tienda {
  background-image: url("https://drive.google.com/uc?id=1HNys06FEgVFMXPGuECPUuqXgvlRPC9cl");
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .imagen-fondo-tienda .contenedor-productos {
  width: 85vw;
  min-height: 60vh;
  background-color: rgba(0, 0, 0, 0.76);
  border-radius: 30px;
  text-align: center;
  margin: 3vh 0 0 0;
}
main .imagen-fondo-tienda .contenedor-productos .contenedor-categorias {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
main .imagen-fondo-tienda .contenedor-productos .contenedor-categorias .opcion-categoria {
  padding: 0vh 3vw;
}
main .imagen-fondo-tienda .contenedor-productos .contenedor-categorias .opcion-categoria p {
  color: rgb(255, 255, 255);
  font-family: "oswald", sans-serif;
}

/* VARIABLES */
/* @mixin animacion ($ani:fadeIn, $aniD:1s){
    animation: $ani;
    animation-duration: $aniD;
}
@mixin animacion2{
    animation: fadeInUp;
    animation-duration: 2s;
} */
.titulo, main .contenedor-videos .titulo-videos, main .contenedor-integrantes-fondo .contenedor-integrantes .titulo-integrantes, main .contenedor-bio-fondo .contenedor-bio .titulo-bio, main .contenedor-discos-fondo .contenedor-discos h2, main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario h2 {
  color: #fff;
  font-size: 1.8em;
  font-weight: 500;
  /* @include animacion2; */
  font-family: "oswald", sans-serif;
  text-align: center;
}

main .ingreso-fondo {
  background-image: url("https://drive.google.com/uc?id=1HNys06FEgVFMXPGuECPUuqXgvlRPC9cl");
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .ingreso-fondo .ingreso-contenedor {
  height: 60vh;
  width: 45vw;
  margin-top: 15vh;
  background-color: rgba(0, 0, 0, 0.76);
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .ingreso-fondo .ingreso-contenedor .ingreso-titulo {
  color: rgb(134, 134, 134);
  font-size: 1.5rem;
  font-family: "oswald", sans-serif;
  padding-bottom: 5vh;
}
main .ingreso-fondo .ingreso-contenedor input {
  width: 45%;
  padding: 3px;
  margin-bottom: 3vh;
  background: transparent;
  border-radius: 5px;
  border: 1px solid rgb(134, 134, 134);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-family: "oswald", sans-serif;
  text-align: center;
}
main .ingreso-fondo .ingreso-contenedor .ingreso-boton {
  width: 45%;
  padding: 3px;
  margin-bottom: 5vh;
  background: transparent;
  border-radius: 5px;
  border: 1px solid rgb(134, 134, 134);
  color: rgb(134, 134, 134);
  font-size: 1rem;
  font-family: "oswald", sans-serif;
  text-align: center;
}
main .ingreso-fondo .ingreso-contenedor .ingreso-boton:hover {
  background-color: rgb(134, 134, 134);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}
main .ingreso-fondo .ingreso-contenedor .error-contraseña {
  color: rgb(255, 255, 255);
  font-family: "oswald", sans-serif;
  padding-bottom: 1vh;
}
main .ingreso-fondo .ingreso-contenedor .ingreso-crear-cuenta {
  color: rgb(134, 134, 134);
  font-size: 1rem;
  font-family: "oswald", sans-serif;
}
main .ingreso-fondo .ingreso-contenedor .ingreso-crear-cuenta:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}
main .ingreso-fondo .ingreso-contenedor .contenedor-usuario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40vw;
}
main .ingreso-fondo .ingreso-contenedor .contenedor-usuario .titulo-usuario {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-family: "oswald", sans-serif;
  font-weight: 400;
}
main .ingreso-fondo .ingreso-contenedor .contenedor-usuario .boton-cerrar-sesion {
  width: 20vw;
  padding: 3px;
  margin-top: 5vh;
  background: transparent;
  border-radius: 5px;
  border: 1px solid rgb(134, 134, 134);
  color: rgb(134, 134, 134);
  font-size: 1rem;
  font-family: "oswald", sans-serif;
  text-align: center;
  text-decoration: none;
}
main .ingreso-fondo .ingreso-contenedor .contenedor-usuario .boton-cerrar-sesion:hover {
  background-color: rgb(134, 134, 134);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}
main .ingreso-fondo .ingreso-contenedor .formulario-datos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .ingreso-fondo .ingreso-contenedor .formulario-datos input {
  width: 25vw;
}
main .ingreso-fondo .ingreso-contenedor .formulario-datos .titulo, main .ingreso-fondo .ingreso-contenedor .formulario-datos .contenedor-videos .titulo-videos, main .contenedor-videos .ingreso-fondo .ingreso-contenedor .formulario-datos .titulo-videos, main .ingreso-fondo .ingreso-contenedor .formulario-datos .contenedor-integrantes-fondo .contenedor-integrantes .titulo-integrantes, main .contenedor-integrantes-fondo .contenedor-integrantes .ingreso-fondo .ingreso-contenedor .formulario-datos .titulo-integrantes, main .ingreso-fondo .ingreso-contenedor .formulario-datos .contenedor-bio-fondo .contenedor-bio .titulo-bio, main .contenedor-bio-fondo .contenedor-bio .ingreso-fondo .ingreso-contenedor .formulario-datos .titulo-bio, main .ingreso-fondo .ingreso-contenedor .formulario-datos .contenedor-discos-fondo .contenedor-discos h2, main .contenedor-discos-fondo .contenedor-discos .ingreso-fondo .ingreso-contenedor .formulario-datos h2, main .ingreso-fondo .ingreso-contenedor .formulario-datos .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario h2, main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario .ingreso-fondo .ingreso-contenedor .formulario-datos h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-family: "oswald", sans-serif;
  font-weight: 400;
}
main .ingreso-fondo .ingreso-contenedor .formulario-datos .p-datos {
  color: rgb(255, 255, 255);
  padding-bottom: 2vh;
  font-family: "oswald", sans-serif;
  font-weight: 300;
}
main .ingreso-fondo .ingreso-contenedor .formulario-datos .boton-guardar-datos {
  font-family: "oswald", sans-serif;
  font-size: 1rem;
  background: transparent;
  padding: 5px 25px;
  border-radius: 5px;
  border: 1px solid rgb(134, 134, 134);
  color: rgb(134, 134, 134);
  background: transparent;
  border-radius: 5px;
  border: 1px solid rgb(134, 134, 134);
  color: rgb(134, 134, 134);
}
main .ingreso-fondo .ingreso-contenedor .formulario-datos .boton-guardar-datos:hover {
  background-color: rgb(134, 134, 134);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}

/* VARIABLES */
/* @mixin animacion ($ani:fadeIn, $aniD:1s){
    animation: $ani;
    animation-duration: $aniD;
}
@mixin animacion2{
    animation: fadeInUp;
    animation-duration: 2s;
} */
.titulo, main .contenedor-videos .titulo-videos, main .contenedor-integrantes-fondo .contenedor-integrantes .titulo-integrantes, main .contenedor-bio-fondo .contenedor-bio .titulo-bio, main .contenedor-discos-fondo .contenedor-discos h2, main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario h2 {
  color: #fff;
  font-size: 1.8em;
  font-weight: 500;
  /* @include animacion2; */
  font-family: "oswald", sans-serif;
  text-align: center;
}

/* PAGINA ADMINISTRADOR */
main .contenedor-administrador {
  background-image: url("https://drive.google.com/uc?id=1ih2XCoh8OCSpe2-8lMaHuEw9tQBsSRBs");
  height: 100vh;
  background-size: cover;
  color: rgb(255, 255, 255);
  font-family: "oswald", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .contenedor-administrador .contenedor-principal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.76);
  display: flex;
  justify-content: center;
  align-items: center;
}
main .contenedor-administrador .contenedor-principal .contenedor-consultas {
  display: flex;
  height: 75vh;
  margin-top: 10vh;
  width: 90vw;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 30px;
}
main .contenedor-administrador .contenedor-principal .contenedor-consultas .seleccionar-consulta {
  width: 30vw;
  height: 71vh;
  overflow: auto;
  margin: 2vh 2vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
main .contenedor-administrador .contenedor-principal .contenedor-consultas .seleccionar-consulta::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}
main .contenedor-administrador .contenedor-principal .contenedor-consultas .seleccionar-consulta::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 15px;
}
main .contenedor-administrador .contenedor-principal .contenedor-consultas .seleccionar-consulta .contenedor-consulta-individual {
  width: 25vw;
  border-bottom: 1px solid rgb(134, 134, 134);
}
main .contenedor-administrador .contenedor-principal .contenedor-consultas .seleccionar-consulta .contenedor-consulta-individual .consulta-individual {
  padding: 3vh;
  padding-left: 4vw;
}
main .contenedor-administrador .contenedor-principal .contenedor-consultas .seleccionar-consulta .contenedor-consulta-individual .consulta-individual:hover {
  cursor: pointer;
  font-size: 1.05rem;
}
main .contenedor-administrador .contenedor-principal .contenedor-consultas .seleccionar-consulta .contenedor-consulta-individual .consulta-individual .p-asunto {
  font-weight: 200;
}
main .contenedor-administrador .contenedor-principal .contenedor-consultas .mostrar-consulta {
  width: 60vw;
  height: 75vh;
  padding: 5vh 5vw;
  border-left: 1px solid rgb(134, 134, 134);
}
main .contenedor-administrador .contenedor-principal .contenedor-consultas .mostrar-consulta .msj-encabezado {
  border-bottom: 1px solid rgb(134, 134, 134);
  padding: 0 3vw 2vh 3vw;
}
main .contenedor-administrador .contenedor-principal .contenedor-consultas .mostrar-consulta .msj-cuerpo {
  padding: 2vh 3vw 0 3vw;
}
main .contenedor-administrador .contenedor-principal .contenedor-consultas .mostrar-consulta .msj-cuerpo .p-asunto {
  border-bottom: 1px solid rgb(134, 134, 134);
  padding-bottom: 2vh;
}
main .contenedor-administrador .contenedor-principal .contenedor-consultas .mostrar-consulta .msj-cuerpo .p-mensaje {
  padding-top: 2vh;
}

/* VARIABLES */
/* @mixin animacion ($ani:fadeIn, $aniD:1s){
    animation: $ani;
    animation-duration: $aniD;
}
@mixin animacion2{
    animation: fadeInUp;
    animation-duration: 2s;
} */
.titulo, main .contenedor-videos .titulo-videos, main .contenedor-integrantes-fondo .contenedor-integrantes .titulo-integrantes, main .contenedor-bio-fondo .contenedor-bio .titulo-bio, main .contenedor-discos-fondo .contenedor-discos h2, main .contenedor-formulario-fondo .contenedor-formulario .fondo-formulario h2 {
  color: #fff;
  font-size: 1.8em;
  font-weight: 500;
  /* @include animacion2; */
  font-family: "oswald", sans-serif;
  text-align: center;
}

/* FOOTER */
footer .contenedor-footer {
  height: 15vh;
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15vh;
  grid-template-areas: "logo nombre redes";
}
footer .contenedor-footer .footer-logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .contenedor-footer .footer-logo img {
  height: 35px;
}
footer .contenedor-footer .footer-copyright {
  color: rgb(134, 134, 134);
  font-family: "oswald", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 1vh;
}
footer .contenedor-footer .footer-copyright a {
  color: rgb(134, 134, 134);
  font-family: "oswald", sans-serif;
  padding-left: 8px;
  text-decoration: none;
}
footer .contenedor-footer .footer-copyright a:hover {
  color: rgb(255, 255, 255);
}
footer .contenedor-footer .footer-redes {
  grid-area: redes;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .contenedor-footer .footer-redes a {
  padding: 10px;
}/*# sourceMappingURL=App.css.map */